   <FORM name="myform">
    <table border="1">
        <thead>
            <tr>
                <th>Acknowledge Buy Order Received</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>User ID</td>
                <td><%=user_id%></td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>Stock to buy</td>
                <td><%=stock%></td>

            </tr>
            <tr>
                <td>Bid Price</td>
                <td><%=bidPrice%></td>
            </tr>

        </tbody>
    </table>
</FORM>
<hr/>
Functions available:<br/>
<ul>
    <li><a href="buy">Buy</a></li>
    <li><a href="sell">Sell</a></li>
    <li><a href="logout">Log out</a></li>
    <li><a href="current">Current stats</a></li>
    <li><a href="viewOrders">Unfulfilled orders</a></li>
</ul>