<FORM name="myform" METHOD=POST ACTION="processLogin" onsubmit="return checkForm(this)"> 
	<table border="1">
		<thead>
			<tr>
				<th>Login</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>UserID</td>
				<td><INPUT TYPE=TEXT NAME=id SIZE=10></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><INPUT TYPE=TEXT NAME=password SIZE=10 VALUE="password"></td>
			</tr>
			<tr>
				<td></td>
				<td><INPUT TYPE=SUBMIT value="Login"></td>
			</tr>
		</tbody>
	</table>

</FORM>