
	Your ID is: <%=user_id%><br/>
    You have successfully logged in<br/>
	
<hr/>
Functions available:<br/>
<ul>
    <li><a href="buy">Buy</a></li>
    <li><a href="sell">Sell</a></li>
    <li><a href="logout">Log out</a></li>
    <li><a href="current">Current stats</a></li>
    <li><a href="viewOrders">Unfulfilled orders</a></li>
	<li><a href="endTradingDay">End trading day</a></li>
</ul>