<FORM name="myform" METHOD=POST ACTION="processLogin" onsubmit="return checkForm(this)"> 
	<table border="1">
		<thead>
			<tr>
				<th>Login</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>UserID</td>
				<td><INPUT TYPE=TEXT NAME=user_id SIZE=10 VALUE="weitian"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><INPUT TYPE=TEXT NAME=password SIZE=10 VALUE="password"></td>
			</tr>
			<tr>
				<td></td>
				<td><INPUT TYPE=SUBMIT value="Login"></td>
			</tr>
		</tbody>
	</table>

</FORM>

<hr/>
Functions available:<br/>
<ul>
    <li><a href="buy">Buy</a></li>
    <li><a href="sell">Sell</a></li>
    <li><a href="logout">Log out</a></li>
    <li><a href="current">Current stats</a></li>
    <li><a href="viewOrders">Unfulfilled orders</a></li>
	<li><a href="endTradingDay">End trading day</a></li>
</ul>