<FORM name="myform" METHOD=POST ACTION="processSell" onsubmit="return checkForm(this)">
            <table border="1">
                <thead>
                    <tr>
                        <th>Sell</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>UserID</td>
                        <td><%=user_id%></td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td>1000 (fixed)</td>
                    </tr>
                    <tr>
                        <td>Stock to sell</td>
                        <td>
                            <select name="stock">
                                <option value="smu" selected="selected">smu</option>
                                <option value="nus">nus</option>
                                <option value="ntu">ntu</option>
                            </select>
                        </td>

                    </tr>
                    <tr>
                        <td>Ask Price</td>
                        <td><INPUT TYPE=TEXT NAME=askprice SIZE="3" VALUE="10">(please enter a whole number between 1 and 100 only)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><INPUT TYPE=SUBMIT value="Place sell order"></td>
                    </tr>
                </tbody>
            </table>

        </FORM>
		
<hr/>
Functions available:<br/>
<ul>
    <li><a href="buy">Buy</a></li>
    <li><a href="sell">Sell</a></li>
    <li><a href="logout">Log out</a></li>
    <li><a href="current">Current stats</a></li>
    <li><a href="viewOrders">Unfulfilled orders</a></li>
	<li><a href="endTradingDay">End trading day</a></li>
</ul>